/**********************
 * 变量和方法函数
 **/
@import "variables";
@import "keyframes";

// 背景配色
.gender-bg(@bg, @color:@grayDarker) {
	.bg-@{bg} {
		padding: .06rem;
		background-color: screen(@@bg, #ccc);
		border: solid 1px @@bg;
		box-sizing: border-box;
		color: @color;
	}
}

// 文字配色
.gender-text(@color) {
	.text-@{color} {
		color: darken(@@color, 10%);
		a& {
			&:link,
			&:visited {
				color: darken(@@color, 10%);
			}
		}
	}
}

// 边框配色
.gender-border(@color) {
	.border-@{color} when (@color=default) {
		border: solid .01rem @line;
	}
	.border-@{color} when not (@color=default) {
		border: solid .01rem @@color !important;
	}
}

// 禁用
.disabled() {
	opacity: .65;
	cursor: no-drop;
}