/**********************
 * 变量和方法函数
 **/
@import "variables";
@import "keyframes";

// 栅格生成
.gender-grid(@count, @i:1) when (@i=<@count) {
	.col-@{i} {
		width: round(100%/12*@i, 4);
	}
	.col-offset-@{i} {
		margin-left: round(100%/12*@i, 4);
	}
	.gender-grid(@count, (@i+1));
}

.gender-grid-fix(@count,@pre, @i:1) when (@i=<@count) {
	.col-@{pre}@{i} {
		width: round(100%/12*@i, 4);
	}
	.col-@{pre}offset-@{i} {
		margin-left: round(100%/12*@i, 4);
	}
	.gender-grid-fix(@count, @pre, (@i+1));
}

// 背景配色
.gender-bg(@bg, @color:@default) {
	&-@{bg} {
		padding: .06rem;
		box-sizing: border-box;
		background-color: screen(@@bg, #ccc);
		border: solid .01rem @@bg;
		color: @color;
	}
}

// 文字配色
.gender-text(@color) {
	.text-@{color} {
		color: darken(@@color, 10%);

		a& {
			&:link,
			&:visited {
				color: darken(@@color, 10%);
			}
		}
	}
}

// 边框配色
.gender-border(@color) {
	.border-@{color} when (@color=default) {
		border: solid .01rem @line;
	}
	.border-@{color} when not (@color=default) {
		border: solid .01rem @@color !important;
	}
}

// 禁用
.disabled(@alpha:.65) {
	opacity: @alpha;
	cursor: no-drop;
}

// 三角
.gender-caret(@dir) {
	display: inline-block;
	margin-left: .05rem;
	vertical-align: middle;
	width: 0;
	height: 0;

	& when (@dir = top) {
		border-bottom: .04rem dashed;
		border-left: .04rem solid transparent;
		border-right: .04rem solid transparent;
	}
	& when (@dir = bottom) {
		border-top: .04rem dashed;
		border-left: .04rem solid transparent;
		border-right: .04rem solid transparent;
	}
	& when (@dir = left) {
		border-right: .04rem dashed;
		border-top: .04rem solid transparent;
		border-bottom: .04rem solid transparent;
	}
	& when (@dir = right) {
		border-left: .04rem dashed;
		border-top: .04rem solid transparent;
		border-bottom: .04rem solid transparent;
	}
}

.gender-caret(@dir, @unicode) {
	display: inline-block;
	margin-right: .05rem;
	font-family: Arial, "Times New Roman", sans-serif;

	& when (@dir = top) {
		content: "\2039"; // ‹
		transform: scale(1.6) translate(.08rem, 0rem) rotate(90deg);
	}
	& when (@dir = bottom) {
		content: "\203A"; // ›
		transform: scale(1.6) translate(.08rem, 0rem) rotate(90deg);
	}
	& when (@dir = left) {
		content: "\2039"; // ‹
		transform: scale(1.6) translate(.05rem, -.01rem);
	}
	& when (@dir = right) {
		content: "\203A"; // ›
		transform: scale(1.6) translate(.05rem, -.01rem);
	}
}

// 外部阴影
.out-shadow() {
	box-shadow: .01rem .02rem .03rem @gray;
}

// 浮层的阴影
.pop-shadow(@reverse:false) {
	& when (@reverse = false) {
		box-shadow: 0 0 .08rem -.03rem @grayDark;
	}
	& when (@reverse = true) {
		box-shadow: 0 0 .08rem -.03rem @white;
	}
}

// 阴影
.groove-shadow(@strong:false) {
	& when (@strong = false) {
		box-shadow: inset 0 .03rem .08rem -.05rem @grayLight;
	}
	& when (@strong = true) {
		box-shadow: inset 0 .06rem .20rem -.09rem @grayDarker;
	}
}
