// 慢慢放大
@keyframes zoomImg {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}

// 淡入动画
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// 左移动画
@keyframes slideInLeft {
	0% {
		left: -50%;
	}
	100% {
		left: 0;
	}
}

// 下移出现
@keyframes dropDown {
	0% {
		margin-top: -.20rem;
	}
	100% {
		margin-top: 0;
	}
}

// 进度条动画
@keyframes progress-bar-stripes {
	0% {
		background-position: .40rem 0;
	}
	100% {
		background-position: 0 0;
	}
}
