//--------------------/
//    Colors
//-------------------/
@red: #e01b1b;
@yellow: #ffa;
@gold: #f5bc00;
@blue: #3B99FC;
@white: #fff;
@snow: #f7f7f7;
@grayLighter: #eee;
@grayLight: #ccc;
@gray: #aaa;
@grayDark: #777;
@grayDarker: #555;
@bgColor: #444;
@black: #333;

//--------------------/
//    Theme Colors
//--------------------/
@line: @grayLight;
@separateBg: @snow;
@codeRed: #c7254e;
@link: @blue;
@linkActive: @gold;
@default: @grayDarker;
@primary: @blue;
@success: #04BE02;
@info: #5bc0de;
@warn: #ffae00;
@error: #e93c20;

//--------------------/
//    Font Size
//-------------------/
@fontMini: .12rem;
@fontSmall: .13rem;
@fontNormal: .14rem;
@fontLarge: .16rem;
@fontBig: .18rem;
@fontBigger: .22rem;
@fontMax: .50rem;

//--------------------/
//    Weight Size
//-------------------/
@rare: 100;
@thin: 200;
@regular: 400;
@bold: 600;

//--------------------/
//    Size
//-------------------/
@radius: .04rem;
//@xsSize: 320px;
@smSize: 768px;
@mdSize: 1024px;
@lgSize: 1440px;
@xlSize: 1900px;