/****
 * 列表
 **/
@import "../common/common";

ul.list {
	margin: 0;
	padding: 0;

	ul {
		margin-left: 1.5em;

		> li {
			list-style: square;
		}
	}

	li > ul > li {
		list-style: disc;

		> ul > li {
			list-style: circle;
		}
	}

	&.listing {
		li {
			padding-left: .10rem;
			border-top: solid .01rem @line;
			list-style: none;
			line-height: .40rem;

			&:first-child {
				border-top: 0;
			}

			& > ul {
				//margin-left: -.10rem;
				padding-left: 1.5em;
				//border-top: solid .01rem @line;
				& > li {
					padding-left: 0;
					border: 0;
					list-style: disc;
					line-height: 2;

					& > ul > li {
						list-style: circle;
					}
				}
			}
		}
	}

	&.time-line {
		margin-left: .10rem;
		padding-left: .20rem;
		border-left: solid .04rem @primary;

		& > li {
			.clearfix();
			position: relative;
			padding-bottom: .30rem;
			list-style: none;

			&:nth-child(2n) {
				background-color: @snow;
			}

			&:last-child:before {
				content: "";
				position: absolute;
				display: block;
				background: @primary;
				border-radius: 50%;
				left: -.27rem;
				bottom: -.01rem;
				width: .10rem;
				height: .10rem;
			}

			.line-date {
				position: relative;
				float: left;
				margin-left: -.34rem;
				padding: .03rem .05rem;
				background-color: @primary;
				border-radius: @radius;
				color: @white;
			}

			.line-content {
				clear: both;
				float: left;
				padding: 0 .10rem;
				box-sizing: border-box;
				width: 100%;
			}
		}
	}

	&.crumbs {
		.clearfix;

		li {
			float: left;
			list-style: none;
			line-height: .20rem;

			&:before {
				content: ">";
				margin: .5em;
			}

			&:first-of-type:before {
				display: none;
			}

			a {
				display: inline-block;
			}
		}

		&.italic {

			li:before {
				content: "/";
				font-style: italic;
			}
		}
	}
}
