/**********************
 * 菜单导航
 **/
@import "../common/common";

.nav {
	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
		}
	}

	a {
		display: block;
		padding: .08rem .10rem;
		text-decoration: none;

		&:hover {
			background-color: @separateBg;
		}
	}

	.nav-header {
		display: block;
		padding: .08rem .10rem;
		line-height: .20rem;
		text-align: center;
		font-weight: @bold;
		cursor: default;
		min-width: .50rem;
	}

	& > ul {
		.clearfix();
		// 所有 li
		& li {
			margin: 0;
			padding: 0;
			list-style: none;

			&.nav-active a {
				background-color: @primary;
				color: @white;
			}
		}
		// 子 li
		& > li {

			a {
				line-height: .20rem;

				&:after {
					float: right;
					.gender-caret(right, true);
				}

				&:only-child {
					&:after {
						content: "";
						display: none;
					}
				}
			}

			// 导航标题项
			.nav-title {
				cursor: pointer;
				color: @gray;
			}

			// 二级导航内容
			a + ul {
				display: none;

				& > li a {
					padding-left: .25rem;
				}
			}

			&.nav-open {
				& > a {
					&:after {
						.gender-caret(bottom, true);
					}
				}

				& > a + ul {
					display: block;
				}
			}
		}
	}

	// 水平式
	&.nav-horizontal {
		.nav-header {
			float: left;
		}

		.nav-right {
			float: right;
		}

		& > ul {

			li {
				// 横向导航的下级菜单
				& > a + ul {
					position: absolute;
					background-color: @white;
					border: solid .01rem @line;
					border-radius: @radius;
					.pop-shadow();
					z-index: 10;

					& > li a {
						padding-left: .10rem;
						text-align: left !important;
					}
				}

				&:hover {
					&:not(.nav-active) > a {
						background-color: @separateBg;
					}

					& > a + ul {
						display: block;
					}
				}
			}

			& > li {
				display: inline-block;

				& > a:after {
					.gender-caret(bottom, true);
				}

				& > a:last-child:after {
					display: none;
				}

				a:link {
					text-align: center;
					min-width: .50rem;
				}

				// 三级
				& > ul > li > ul {
					margin: -2.5em 0 0 100%;
					white-space: nowrap;
				}
			}
		}
	}

	// 标签式
	&.nav-tabs {
		& > ul {
			border-bottom: solid .01rem @line;

			& > li {
				float: left;
				margin-left: .10rem;
				position: relative;
				top: .01rem;

				&:first-child {
					margin-left: 0;
				}

				& > a {
					border-radius: @radius @radius 0 0;
					text-align: center;
					min-width: .50rem;
				}

				&.nav-active {
					top: .01rem;

					& > a {
						//padding-bottom: .09rem;
						background-color: @white;
						border: solid .01rem @line;
						border-bottom: none;
						color: @black;
					}
				}
			}
		}
	}

	// 两端对齐
	&.nav-justify {
		& > ul > li {
			float: none;
			display: table-cell;
			text-align: center;
			width: 1%;
			top: auto;
		}
	}

	// 响应式左侧菜单
	&.nav-menu {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;

		&.nav-mini-menu {
			top: 10%;
			width: 10%;
			bottom: auto;
			z-index: 10;
			transition: width .2s;

			& > .nav-header {
				min-width: 0;
			}

			& > ul {
				display: none;
			}

			&.open-menu {
				-webkit-overflow-scrolling: touch;
				overflow: auto;
				box-shadow: 0 .01rem .05rem #000;
				top: 0;
				bottom: 0;
				width: 80%;

				& > ul {
					display: block;

					a {
						&:hover {
							background-color: transparent;
						}
						&:active {
							color: inherit;
						}
					}
				}

			}
		}
	}

	// 导航条
	&.nav-bar {
		&:extend(.grid all);
		&:extend(.nav.nav-horizontal all);
		padding: 0 .05rem;
		background-color: @separateBg;
		border: solid .01rem @line;
		border-radius: @radius;

		.nav-header {
			line-height: 2;
		}

		& > ul > li:not(.nav-active) > a:hover {
			background-color: transparent;
			color: darken(@link, 10%);
		}
		& > ul > li {
			float: left;

			&.nav-active {
				position: relative;
				top: -.01rem;

				& > a {
					margin-bottom: -.02rem;
					border-bottom: solid .02rem @primary;
				}
			}

			& > a {
				line-height: 2;

				&:after {
					line-height: 1;
				}
			}

			// 导航条的二级菜单
			& > a + ul {
				margin-top: -.05rem;
			}
		}

		.nav-form form.form {
			margin: .06rem 0;

			button {
				padding-top: .08rem;
				padding-bottom: .08rem;
				vertical-align: middle;
			}

			.input-group > button {
				padding-top: .05rem;
				padding-bottom: .05rem;
			}

			.form-group {
				display: inline-block;
				margin-bottom: 0;
				vertical-align: middle;
			}
		}

		.nav-text {
			padding: .08rem .10rem;
			line-height: 2;

			a {
				display: inline;
				padding: 0;
			}
		}

		.dropdown {
			margin: .02rem 0;
			line-height: 2;
		}

		&.top-bar {
			position: fixed;
			background-color: rgba(0, 0, 0, .3);
			border: 0;
			border-bottom: solid .01rem rgba(0, 0, 0, .2);
			border-radius: 0;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1024;
		}
	}
}