/**********************
 * 栅格
 **/
@import "../common/common";

.__grid(@n, @i:1) when (@i=<@n) {
	.col-@{i} {
		width: (100%/12*@i);
	}
	.col-offset-@{i} {
		margin-left: (100%/12*@i);
	}
	.__grid(@n, (@i+1));
}

.grid {
	.clearfix;

	[class*="col-"] {
		float: left;
		display: block;
		overflow: hidden;
		box-sizing: border-box;
	}

	.row {
		.clearfix;
	}

	.__grid(12);

	&.grid-pad {
		.row {
			margin-left: -.08rem;
			padding: .08rem 0;
		}

		[class*="col-"] {
			padding: 0 .08rem;
		}
	}
}
