.sa-g {
	.clearfix;

	[class*="col-"] {
		float: left;
		display: block;
		overflow: hidden;
		box-sizing: border-box;
	}

	.row {
		.clearfix;
	}

	.gender-grid(12);

	.gender-border(g-border, default);
	.gender-border(g-border, primary);
	.gender-border(g-border, success);
	.gender-border(g-border, info);
	.gender-border(g-border, warn);
	.gender-border(g-border, error);

}