.content {
	float: right;
	padding: 0 .20rem;
	box-sizing: border-box;
	width: 80%;
}

.content > ul > li {
	margin-left: 1.5em;
	list-style-type: disc;
}

.content > ol {
	padding-left: 1.5em;
}

.content h2 {
	margin-top: 1rem;
}

.content h3 {
	margin-top: .40rem;
}

.content ul ~ .example {
	margin-top: 1em;
}

.example:before {
	content: "示例：";
	display: block;
	margin-bottom: 1em;
}

.example .grid .row {
	margin: .10rem 0;
	background-color: #f4f4f4;
}

.example .grid .row [class*="col-"] {
	padding: .05rem;
	background-color: #ddd;
}

.example .nav {
	/*border: solid .01rem #ccc;*/
}

.copyright {
	margin: .10rem 0;
	border-top: solid .01rem #ccc;
	text-align: right;
	font-size: .11rem;
}

nav {
	position: fixed;
	background: #222;
	left: 0;
	top: 0;
	bottom: 0;
	width: 20%;
}

@media only screen and (max-width: 1024px) {
	.content {
		width: 100%;
	}

	.menu {
	}
}
