.content {
	margin-left: 20%;
	padding: 0 .20rem;
	box-sizing: border-box;
	width: 80%;
	max-width: 960px;
}

.content dl dt {
	margin: .10rem 0;
	font-weight: bold;
}

.content dl dd {
	margin: 0;
}

.content > ul > li,
.content > ol > li > ul > li {
	margin-left: 1.5em;
	list-style-type: disc;
}

.content > ol {
	padding-left: 1.5em;
}

.content > h2 {
	margin-top: 1rem;
}

.content > h3 {
	margin-top: .40rem;
}

.content pre code {
	background-color: transparent;
	tab-size: 2;
}

sup {
	margin-left: .03rem;
	padding: .01rem .03rem;
	background-color: #666;
	border-radius: .02rem;
	font-weight: normal;
	color: #fff;
}

.content ul ~ .example {
	margin-top: 1em;
}

.example:before {
	content: "示例：";
	display: block;
	margin-bottom: 1em;
}

.example .nav-menu {
	position: relative;
}

.demo.grid .row {
	margin: .10rem 0;
	background-color: #f4f4f4;
}

.demo.grid .row [class*="col-"] {
	padding: .05rem;
	background-color: #ddd;
}

.copyright {
	margin: .10rem 0;
	border-top: solid .01rem #ccc;
	text-align: right;
	font-size: .11rem;
}

nav {
	background: #222;
	width: 20%;
}

@media only screen and (max-width: 1000px) {
	.content {
		margin: 0;
		padding: 0 .15rem;
		width: 100%;
	}

	.content > ol {
		padding-left: 1em;
	}

	.content .grid [class*="col-"] {
		overflow: hidden;
		white-space: nowrap;
	}

	nav {
		overflow: hidden;
		width: 0;
	}
}
