.content {
	margin: auto;
	width: 60%;
}

@media only screen and (max-width: 1024px) {
	.content {
		width: 95%;
	}
}

.content ul li {
	margin-left: 1.5em;
	list-style-type: disc;
}

.example:before {
	content: "示例：";
	display: block;
	margin-bottom: 1em;
}

.example .grid .row {
	margin: .10rem 0;
	background-color: #f4f4f4;
}

.example .grid .row [class*="col-"] {
	padding: .05rem;
	background-color: #ddd;
}

.example .form.grid [class*="col-"] {
	padding: 0 1em;
}

.copyright {
	margin: .10rem 0;
	border-top: solid .01rem #ccc;
	text-align: right;
	font-size: .11rem;
}