/**********************
 * 按钮类
 **/
@import "../common/common";

.__btn(@color, @hollow:true) {
	background-color: @color;
	border: solid .01rem transparent;

	// 按钮hover后的背景色
	&.btn-active,
	&:hover {
		background-color: darken(@color, 7%);
	}
	// 禁用按钮的hover背景色与原来一致
	&.btn-disabled:hover,
	&[disabled]:hover {
		background-color: @color;
	}

	// 镂空
	&.btn-hollow when (@hollow = true) {
		padding-top: .09rem;
		padding-bottom: .09rem;
		background-color: transparent;
		border: solid .02rem @color;
		color: @color;

		// 按钮hover后的背景色
		&:hover {
			background-color: screen(@color, #ccc);
		}

		// 禁用的镂空
		&.btn-disabled,
		&[disabled] {
			.disabled(.30);

			&:hover {
				background-color: transparent;
			}
		}
	}
}

.__white() {
	color: @white;
	a& {
		color: @white;
	}
}

.btn {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	display: inline-block;
	margin-right: .10rem;
	padding: .10rem 1em;
	background-clip: padding-box;
	box-sizing: border-box;
	cursor: pointer;
	outline: none;
	border-radius: .30rem;
	line-height: 1;
	font-size: @fontNormal;
	transition: background-color .3s ease-out, color .3s ease-out;

	&:last-child {
		margin-right: 0;
	}

	// 矩型
	&.btn-rect {
		border-radius: 0;
	}

	// 超大尺寸
	&.btn-xl {
		padding: .16rem 1em;
		font-size: @fontBigger;
	}
	// 大尺寸
	&.btn-lg {
		padding: .13rem 1em;
		font-size: @fontBig;
	}
	// 小尺寸
	&.btn-sm {
		padding: .07rem .7em;
		font-size: @fontSmall;
	}
	// 细小尺寸
	&.btn-xs {
		padding: .04rem .6em;
		font-size: @fontMini;
	}

	// a 按钮
	a& {
		text-decoration: none;
	}

	// 按下状态
	&.btn-active,
	&:active {
		.groove-shadow(true);
	}

	// 禁用的按钮
	&[disabled],
	&.btn-disabled {
		.disabled();
		&:active {
			box-shadow: none;
		}
	}

	// 普通按钮
	&.btn-default {
		.__btn(@white, false);
		border-color: @line;
		color: @grayDark;
		a& {
			color: @grayDark;
		}
	}

	// 反相普通按钮
	&.btn-default-o {
		.__btn(@grayLighter);
		color: @default;
		a& {
			color: @default;
		}
	}

	// 首选操作按钮
	&.btn-primary {
		.__btn(@primary);
		.__white();
	}

	// 成功操作按钮
	&.btn-success {
		.__btn(@success);
		.__white();
	}

	// 信息操作按钮
	&.btn-info {
		.__btn(@info);
		.__white();
	}

	// 危险操作按钮
	&.btn-danger {
		.__btn(@error);
		.__white();
	}

	// 谨慎操作按钮
	&.btn-warn {
		.__btn(@warn);
		.__white();
	}
}