/**********************
 * 全局作用类
 **/
@import "../common/common";

// 清浮动
.clearfix {
	&:after {
		content: "";
		clear: both;
		display: block;
		overflow: hidden;
		line-height: 0;
		font-size: 0;
		height: 0;
	}
}

// 背景颜色
.bg {
	.gender-bg(primary);
	.gender-bg(success);
	.gender-bg(info);
	.gender-bg(error);
	.gender-bg(warn);
}

// 文本颜色
.gender-text(primary);
.gender-text(success);
.gender-text(info);
.gender-text(error);
.gender-text(warn);

// 边框颜色
.gender-border(default);
.gender-border(primary);
.gender-border(success);
.gender-border(info);
.gender-border(error);
.gender-border(warn);

// 关闭
.close {
	display: inline-block;
	overflow: hidden;
	transition: color .3s;
	border-radius: 50%;
	cursor: pointer;
	text-decoration: none !important;
	text-align: center;
	vertical-align: middle;
	line-height: .14rem;
	font-weight: @bold;
	font-size: @fontBigger;
	color: @gray;
	width: .18rem;
	height: .18rem;

	i {
		overflow: hidden;
		display: block;
		width: 100%;
		height: 100%;
	}

	&:hover {
		color: @grayDarker;
	}

	&.close-animate {
		transition: transform .2s;

		&:hover {
			transform: rotate(180deg);
		}
	}
}

// 三角
.caret {
	.gender-caret(bottom);
}

// 左浮动
.pull-left {
	float: left !important;
}

// 右浮动
.pull-right {
	float: right !important;
}

// 块居中
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// 显示
.show {
	display: block !important;
}

// 隐藏
.hidden {
	display: none !important;
}

// 隐藏文字
.text-hide {
	overflow: hidden;
	text-indent: -1000%;
	font-size: 0 !important;
}

// 文字居中
.text-center {
	text-align: center;
}

// 垂直对齐
.v-align {
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
	.align-middle {
		display: inline-block;
		vertical-align: middle;
	}

	.align-bottom {
		display: inline-block;
		vertical-align: bottom;
	}
}