/**********************
 * HTML标签
 **/
@import "../common/common";

// small
html {
	// chrome 这个混蛋强制不能低于10，所以方便计算的只能用100
	font-size: 100px;
}

// 6
@media only screen and (min-width: 375px) {
	html {
		font-size: 117.19px;
	}
}

// 6p
@media only screen and (min-width: 414px) {
	html {
		font-size: 129.38px;
	}
}

// pad
@media only screen and (min-width: 768px) {
	html {
		font-size: 240px;
	}
}

// pc and bigger
@media screen and (min-width: 1025px) {
	html {
		font-size: 100px;
	}
}

body {
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft Yahei", "Heiti SC", sans-serif;
	font-size: @fontNormal;
	font-weight: @regular;
	color: @black;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1em;
}

p {
	line-height: 1.6em;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

a {
	&:link {
		text-decoration: none;
		color: @link;
	}
	&:hover {
		text-decoration: underline;
	}
	&:visited {
		text-decoration: underline;
		color: @link;
	}
	&:active,
	&:focus {
		text-decoration: underline;
		color: @gold;
	}
}

abbr, dfn {
	cursor: help;
}

code {
	overflow: auto;
	padding: 0 .05rem;
	background-color: @grayLighter;
	border-radius: @radius;
	color: @codeRed;

	pre & {
		display: block;
		padding: .05rem;
	}
}

blockquote {
	padding: .05rem .10rem;
	border-left: solid .04rem @line;
}

mark {
	background-color: @yellow;
}

// 图片
img {
	display: inline-block;
	border: 0;
	vertical-align: middle;
}