/**********************
 * 表单
 **/

@import "../common/common";

form.sa-form {
	.clearfix;

	.__item() {
		background-color: @white;
		border: solid .01rem @line;
		border-radius: .04rem;
		box-shadow: inset 0 .03rem .08rem -.05rem @grayLight;
		box-sizing: border-box;
		transition: border-color .3s ease-out;
	}

	input {
		.__item;

		&:invalid {
			border-color: @error;
		}

		&[type="text"],
		&[type="email"],
		&[type="password"],
		&[type="url"],
		&[type="search"],
		&[type="tel"],
		&[type="number"] {
			padding: .05rem .07rem;

			&:focus {
				border-color: @blue;
			}
		}

		&[type="search"] {
			-webkit-appearance: none;
		}

		&[type="checkbox"],
		&[type="radio"] {
			//-webkit-appearance: none;
			//-moz-appearance: none;
			margin: 0 .05rem;
			width: 1em;
			height: 1em;

			&:checked {
				background: @blue;
				border-color: transparent;
			}
		}
		&[type="radio"] {
			border-radius: 50%;
		}

		&[type="reset"],
		&[type="button"],
		&[type="submit"] {
			&::-moz-focus-inner {
				border: none;
				padding: 0;
			}
		}
	}

	select {
		.__item;
		-webkit-appearance: none;
		-moz-appearance: none;
		padding: .05rem .07rem;
		width: 100%;

		&::-ms-expand {
			display: none;
		}

		&:focus {
			border-color: @blue;
		}
	}

	button {
		&:extend(.btn);

		&:last-child {
			&:extend(.btn:last-child);
		}

		&:active {
			&:extend(.btn:active);
		}

		&[type="button"] {
			&:extend(.btn.btn-default all);
		}
		&[type="submit"] {
			&:extend(.btn.btn-primary all);
		}

		&[type="reset"] {
			&:extend(.btn.btn-warn all);
		}

		&::-moz-focus-inner {
			border: none;
			padding: 0;
		}
	}

	input, select, button {
		outline: none;

		&[disabled] {
			.disabled;
			&:active {
				box-shadow: none;
			}
		}
		&[readonly] {
			background-color: @grayLighter;
			cursor: default;
			color: @grayDark;
		}
	}

	label {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		box-sizing: border-box;
	}

	.form-group {
		overflow: hidden;
		margin-bottom: .10rem;
	}

	.form-select {
		position: relative;
		display: block;

		&:after {
			content: "\1433";
			position: absolute;
			margin-top: .05rem;
			color: @gray;
			right: .07rem;
			top: 0;
		}
	}

	.form-radio {
		display: inline-block;
		margin-right: .20rem;

		&:last-child {
			margin-right: 0;
		}

	}

	.form-control {
		width: 100%;
	}

	fieldset {
		padding: 0;
		border: none;

		input {
			&[type="text"],
			&[type="email"],
			&[type="password"],
			&[type="url"],
			&[type="search"],
			&[type="tel"],
			&[type="number"] {
				position: relative;
				margin-top: -.01rem;
				border-radius: 0;
				box-shadow: none;

				&:first-child {
					margin-top: 0;
					border-radius: .04rem .04rem 0 0;
					box-shadow: inset 0 .03rem .08rem -.05rem @grayLight;
				}

				&:last-child {
					border-radius: 0 0 .04rem .04rem;
				}

				&:focus {
					z-index: 1;
				}
			}
		}
	}

	.input-group {
		input {
			&[type="text"],
			&[type="email"],
			&[type="password"],
			&[type="url"],
			&[type="search"],
			&[type="tel"],
			&[type="number"] {
				float: left;
				border-radius: 0;

				&:first-child {
					border-top-left-radius: .04rem;
					border-bottom-left-radius: .04rem;
				}
			}
		}

		button {
			float: left;
			padding: .05rem 1em;
			border-left: 0;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			line-height: normal;
			height: auto;
		}

		.input-addon {
			float: left;
			padding: .05rem 1em;
			background-color: @grayLighter;
			border: solid .01rem @line;
			border-right: 0;
			border-radius: .04rem 0 0 .04rem;
		}
	}

	&-inline {
		.form-group {
			display: inline-block;
			vertical-align: middle;
		}

		button {
			vertical-align: top;
		}
	}

	&-stacked {
		label {
			display: block;
			line-height: 2em;
		}
		input {
			&[type="text"],
			&[type="email"],
			&[type="password"],
			&[type="url"],
			&[type="search"],
			&[type="tel"],
			&[type="number"] {
				display: block;
			}
		}
	}

	&-horizontal {
		label {
			float: left;
			padding: .05rem .05rem .05rem 0;
			text-align: right;
			width: 20%;
		}

		button:first-of-type {
			margin-left: 20%;
		}

		.form-checkbox {
			margin-left: 20%;
			text-align: left;
			width: auto;
		}

		.form-select {
			display: inline-block;
			width: 80%;
		}

		.form-control {
			width: 80%;
		}
	}
}

// 物殊的样式只 chrome 支持
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	form.sa-form {

		input[type="checkbox"] {
			@switchWid: .50rem;
			&.form-switch {
				position: relative;
				border-radius: .13rem;
				width: @switchWid;
				height: .26rem;

				&:before {
					content: "";
					display: block;
					background: @grayLighter;
					border-radius: .13rem;
					border: solid .01rem @line;
					transition: background .2s ease-out;
					width: 100%;
					height: 100%;
				}
				&:after {
					content: "";
					position: absolute;
					display: block;
					background: @white;
					border-radius: 50%;
					border: solid 1px @line;
					box-shadow: 1px 2px 3px @gray;
					cursor: pointer;
					transition: left .2s ease-out;
					top: 0;
					left: 0;
					width: .25rem;
					height: .25rem;
				}
			}
			&:checked.form-switch {
				&:before {
					background: @success;
				}
				&:after {
					background: @white;
					left: @switchWid - .25rem;
				}
			}
		}

		.form-group.form-radio-group {
			float: left;
			margin-right: .10rem;
			background: @grayLighter;
			border: solid .01rem @line;
			border-radius: .03rem;
			color: @grayDark;
			box-shadow: inset 0 .03rem .08rem -.05rem @grayLight;

			.form-radio {
				position: relative;
				float: left;
				margin: 0;
				cursor: pointer;
				text-align: center;
				width: 4em;

				span {
					position: relative;
					display: block;
					padding-top: .05rem;
					padding-bottom: .05rem;
					transition: color .2s ease;
					z-index: 1;
				}

				input[type="radio"] {
					position: absolute;
					margin: 0;
					top: -100%;
					left: 0;
					width: 100%;
					height: 100%;

					&:before {
						@color: @default;
						content: "";
						position: relative;
						display: block;
						left: -100%;
						border: solid .01rem;
						background-color: @color;
						border-color: darken(@color, 1%) darken(@color, 10%) darken(@color, 10%) darken(@color, 1%);
						border-radius: .03rem;
						box-sizing: border-box;
						transition: left .2s ease;
						width: 100%;
						height: 99%;
					}

					&:checked {
						&:before {
							left: .05% !important;
							top: 101%;
						}

						& + span {
							color: @white;
						}
					}
				}

				&:first-of-type {
					input[type="radio"]:before {
						left: 100%;
					}
				}
			}

			&.form-radio-primary .form-radio input[type="radio"]:before {
				@color: @primary;
				background-color: @color;
				border-color: darken(@color, 1%) darken(@color, 10%) darken(@color, 10%) darken(@color, 1%);
			}

			&.form-radio-success .form-radio input[type="radio"]:before {
				@color: @success;
				background-color: @color;
				border-color: darken(@color, 1%) darken(@color, 10%) darken(@color, 10%) darken(@color, 1%);
			}
		}
	}
}