/**********************
 * 表单
 **/
@import "../common/common";

.__item() {
	box-sizing: border-box;
	background-color: @white;
	border: solid .01rem @line;
	border-radius: @radius;
	.groove-shadow();
	transition: border-color .3s ease-out;
}

form.form {
	.clearfix;

	input {
		.__item();

		//&:invalid:focus {
		//	border-color: @error;
		//}

		&[type="text"],
		&[type="email"],
		&[type="password"],
		&[type="url"],
		&[type="search"],
		&[type="datetime-local"],
		&[type="date"],
		&[type="time"],
		&[type="tel"],
		&[type="number"] {
			appearance: none;
			padding: .05rem .07rem;
			line-height: .20rem;
			max-width: 100%;

			&:focus {
				border-color: @blue;
			}
		}

		&[type="datetime-local"],
		&[type="date"],
		&[type="time"] {
			padding: .04rem .07rem;
		}

		&[type="checkbox"],
		&[type="radio"] {
			appearance: none;
			margin: 0 .05rem 0 .02rem;
			vertical-align: -.02rem;
			width: .14rem;
			height: .14rem;

			&:focus {
				border-color: @blue;
			}
		}

		&[type="checkbox"] {
			&:checked {
				appearance: checkbox;
				//vertical-align: .01rem;

				&:focus {
					box-shadow: 0 .01rem .01rem .01rem darken(@blue, 30%);
				}
			}
		}

		&[type="radio"] {
			border-radius: 50%;

			&:checked {
				appearance: radio;
				//vertical-align: 0;

				&:focus {
					box-shadow: 0 0 .02rem 0 darken(@blue, 30%);
				}
			}
		}

		&[type="reset"],
		&[type="button"],
		&[type="submit"] {
			&::-moz-focus-inner {
				border: none;
				padding: 0;
			}
		}
	}

	textarea {
		appearance: none;
		.__item();
		padding: .05rem .07rem;
		vertical-align: top;
		resize: none;
		min-width: 2rem;
		min-height: .60rem;

		&:focus {
			border-color: @blue;
		}
	}

	select {
		appearance: none;
		.__item();
		padding: .05rem .07rem;
		line-height: .20rem;
		width: 100%;

		&::-ms-expand {
			display: none;
		}

		&:focus {
			border-color: @blue;
		}
	}

	button {
		&:extend(.btn);

		& + button {
			&:extend(.btn+.btn);
		}

		&:active {
			&:extend(.btn:active);
		}

		&[type="button"] {
			&:extend(.btn.btn-default all);

			&.btn-primary {
				&:extend(.btn.btn-primary all);
			}

			&.btn-success {
				&:extend(.btn.btn-success all);
			}

			&.btn-info {
				&:extend(.btn.btn-info all);
			}

			&.btn-danger {
				&:extend(.btn.btn-danger all);
			}

			&.btn-warn {
				&:extend(.btn.btn-warn all);
			}
		}

		&[type="submit"] {
			&:extend(.btn.btn-primary all);
		}

		&[type="reset"] {
			&:extend(.btn.btn-warn all);
		}

		&::-moz-focus-inner {
			border: none;
			padding: 0;
		}
	}

	input, textarea, select {
		outline: none;

		&[disabled] {
			.disabled();
		}

		&[readonly] {
			background-color: @separateBg;
			cursor: default;
			color: @grayDark;
		}
	}

	button {
		outline: none;

		&[disabled] {
			.disabled();

			&:active {
				box-shadow: none;
			}
		}
	}

	label {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		box-sizing: border-box;
	}

	.form-group {
		.clearfix;
		margin-bottom: .10rem;
	}

	.form-select {
		position: relative;
		display: block;
		background-color: @white;

		&:after {
			content: "\f105";
			position: absolute;
			margin-top: -.5em;
			line-height: 1;
			font-family: FontAwesome;;
			font-size: @fontBig;
			color: @gray;
			right: .07rem;
			top: 50%;
			z-index: 1;
		}

		select {
			position: relative;
			padding-right: 1.5em;
			background-color: transparent;
			z-index: 2;
		}
	}

	.form-checkbox, .form-radio {
		display: inline-block;
		padding-right: .15rem;
		line-height: .32rem;
	}

	.form-control {
		width: 100%;
	}

	fieldset {
		margin: 0;
		padding: 0;
		border: none;

		legend {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: .10rem 0;
			font-size: @fontLarge;
			font-weight: bold;
			width: 100%;

			&:before,
			&:after {
				content: "";
				background: @line;
				height: .01rem;
			}

			&:before {
				margin-right: .10rem;
				width: .20rem;
			}

			&:after {
				flex-grow: 1;
				margin-left: .10rem;
			}
		}

		input:not([type="radio"]):not([type="checkbox"]) {
			position: relative;
			border-radius: 0;

			&:focus {
				z-index: 1;
			}
		}

		&:not(.horizontal) {
			input:not([type="radio"]):not([type="checkbox"]) {
				margin-top: -.01rem;
				box-shadow: none;

				&:first-of-type {
					margin: 0;
					border-radius: @radius @radius 0 0;
					.groove-shadow();
				}

				&:last-of-type {
					border-radius: 0 0 @radius @radius;
				}
			}
		}

		&.horizontal {
			display: inline-block;

			input:not([type="radio"]):not([type="checkbox"]) {
				float: left;
				margin: 0 0 0 -.01rem;

				&:first-of-type {
					margin: 0;
					border-radius: @radius 0 0 @radius;
				}

				&:last-of-type {
					border-radius: 0 @radius @radius 0;
				}
			}
		}
	}

	.input-group {
		display: flex;
		line-height: .20rem;

		// 为了 focus 整个 group 有效果，input DOM 默认在第一位
		input {
			&[type="text"],
			&[type="email"],
			&[type="password"],
			&[type="url"],
			&[type="search"],
			&[type="tel"],
			&[type="number"] {
				margin: 0;
				padding-left: .10rem;
				padding-right: .10rem;

				// input DOM 在中间位置，例外的情况
				&:nth-last-child(2):not(:first-child) {
					padding-left: .07rem;
					padding-right: .07rem;
					border-radius: 0;
					z-index: 1;
				}

				// 实现正常情况下 input 显示在中间的情况
				&:first-child:nth-last-child(3) {
					border-radius: 0;
				}

				// input DOM 在最后的位置，例外的情况
				&:last-child {
					padding-left: .07rem;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					z-index: 1;
				}

				// 多个文本框组合
				&:not(:only-of-type) {
					border-width: .01rem 0;
					border-radius: 0;

					&:first-of-type {
						border-top-left-radius: @radius;
						border-bottom-left-radius: @radius;
						border-left-width: .01rem;
					}

					&:last-of-type {
						border-top-right-radius: @radius;
						border-bottom-right-radius: @radius;
						border-right-width: .01rem;
					}
				}

				&:focus {
					~ .input-addon,
					~ .input-addon-r,
					~ button,
					~ input {
						border-color: @blue;
					}
				}
			}
		}

		button {
			padding: .05rem 1em;
			border-left: 0;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			white-space: nowrap;
			line-height: .20rem;
			box-shadow: -.02rem 0 0 -.01rem @grayLight;
			z-index: 1;
		}

		.input-addon,
		.input-addon-r {
			padding: .05rem .12rem;
			background-color: @separateBg;
			border: solid .01rem @line;
			white-space: nowrap;
			line-height: .20rem;
			transition: border .3s ease-out;
			z-index: 1;

			&.dropdown {
				padding: 0 .10rem 0 .12rem;
			}
		}

		.input-addon {
			border-right: 0;
			border-radius: @radius 0 0 @radius;
			order: -1;
			box-shadow: .02rem 0 0 -.01rem @grayLight;

			&:not(:first-child) {
				margin-right: -0.03rem;
			}
		}

		.input-addon-r {
			border-left: 0;
			border-radius: 0 @radius @radius 0;
			order: 2;
			box-shadow: -.02rem 0 0 -.01rem @grayLight;
		}

		.input-addon-r, button {
			&:nth-child(2) {
				margin-left: -0.03rem;
			}
		}
	}

	&-inline {
		.form-group {
			display: inline-block;
			vertical-align: middle;

			input {
				margin-left: .5em;
				margin-right: .5em;
			}
		}

		button {
			vertical-align: top;
		}
	}

	&-stacked {
		.form-group > label:not([class*="form-"]) {
			display: block;
			line-height: 2em;
		}

		input {
			&[type="text"],
			&[type="email"],
			&[type="password"],
			&[type="url"],
			&[type="search"],
			&[type="tel"],
			&[type="number"] {
				display: block;
			}
		}

		textarea {
			display: block;
		}
	}

	&-horizontal {
		.form-group > label:not([class*="form-"]) {
			float: left;
			padding: .05rem .05rem .05rem 0;
			text-align: right;
			width: 20%;
		}

		button:first-of-type {
			margin-left: 20%;
		}

		.form-checkbox {
			margin-left: 20%;
			text-align: left;
			width: auto;
		}

		.form-select {
			display: inline-block;
			width: 80%;
		}

		.form-control {
			width: 80%;
		}
	}

	// 显示表单错误的样式
	.form-error {
		display: none;
		box-sizing: border-box;
		font-size: @fontMini;
		color: @error;
	}

	&.error {
		input:not([type="radio"]):not([type="checkbox"]):invalid {
			border-color: @error;
		}

		.input-group {
			input:invalid {
				border-left-color: @line !important;
				border-right-color: @line !important;

				~ .input-addon,
				~ .input-addon-r,
				~ button,
				~ input {
					border-color: @error;
				}
			}

			& + .form-error {
				display: block;
				padding: .05rem .08rem .08rem;
				background: @error;
				border-radius: @radius;
				box-shadow: 0 -@radius 0 0 @error;
				color: @white;
			}
		}

		input:invalid ~ .form-error {
			display: inline-block;
		}

		&.form-stacked,
		&.form-horizontal {
			input:invalid {
				position: relative;
				z-index: 2;

				~ .form-error {
					display: block;
					float: left;
					padding: .05rem .08rem .08rem;
					background: @error;
					border-radius: @radius;
					box-shadow: 0 -@radius 0 0 @error;
					color: @white;
					z-index: 1;
				}
			}

			input.form-control:invalid ~ .form-error {
				float: none;
			}
		}

		&.form-horizontal {
			input:invalid ~ .form-error {
				clear: left;
				margin-left: 20%;
			}

			input.form-control:invalid ~ .form-error {
				width: 80%;
			}
		}
	}
}

@import "webkit-form";
